---
import { Icon } from "astro-icon/components";
import FooterLinks from "@components/FooterLinks.astro";
import FooterLanguageSwitcher from "@components/LanguageSwitcher.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import beian from "@assets/beian.png";

let navData;

const currentLocale = Astro.currentLocale ?? "zh";

if (currentLocale === "zh") {
  navData = await import("@utils/zh/footernav");
} else {
  navData = await import("@utils/en/footernav");
}

const { one, two, three, more } = navData;

const today = new Date();

const safeGetRelativeLocaleUrl = (path: string) =>
  getRelativeLocaleUrl(currentLocale, path);

const brandName = currentLocale === "zh" ? "无双的经验之谈" : "PeerlessLessonsLearned";
---

<footer class="mt-auto w-full max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8">
  <div
    class="mb-10 grid grid-cols-2 gap-6 border-t border-neutral-200 pt-5 dark:border-neutral-700 md:grid-cols-4 lg:grid-cols-5"
  >  
    <div>
      <h4
        class="text-medium font-semibold uppercase text-neutral-900 dark:text-neutral-100"
      >
        {currentLocale === "zh" ? "软件开发教程" : "DevGuide"}
      </h4>
      <div class="mt-3 grid space-y-3 text-sm">
        {
          one.map((item) => (
            <FooterLinks href={safeGetRelativeLocaleUrl(item.href)}>
              {item.text}
            </FooterLinks>
          ))
        }
      </div>
    </div>

    <div>
      <h4
        class="text-medium font-semibold uppercase text-neutral-900 dark:text-neutral-100"
      >
        {currentLocale === "zh" ? "技术前沿速递" : "TechFront"}
      </h4>
      <div class="mt-3 grid space-y-3 text-sm">
        {
          two.map((item) => (
            <FooterLinks href={safeGetRelativeLocaleUrl(item.href)}>
              {item.text}
            </FooterLinks>
          ))
        }
      </div>
    </div>

    <div>
      <h4
        class="text-medium font-semibold uppercase text-neutral-900 dark:text-neutral-100"
      >
        {currentLocale === "zh" ? "个人生活杂谈" : "ChatLife"}
      </h4>
      <div class="mt-3 grid space-y-3 text-sm">
        {
          three.map((item) => (
            <FooterLinks href={safeGetRelativeLocaleUrl(item.href)}>
              {item.text}
            </FooterLinks>
          ))
        }
      </div>
    </div>

    <div>
      <h4
        class="text-medium font-semibold uppercase text-neutral-900 dark:text-neutral-100"
      >
        {currentLocale === "zh" ? "更多" : "More"}
      </h4>
      <div class="mt-3 grid space-y-3 text-sm">
        {
          more.map((item) => (
            <FooterLinks href={safeGetRelativeLocaleUrl(item.href)}>
              {item.text}
            </FooterLinks>
          ))
        }
      </div>
    </div>
  </div>

  <div class="mt-5 border-t border-neutral-200 pt-5 dark:border-neutral-700">
    <div
      class="flex flex-col-reverse sm:flex-row sm:items-center sm:justify-between"
    >
      <div class="mt-3 sm:mt-0">
        <a
          class="flex-none text-sm text-neutral-600 dark:text-neutral-400"
          href={safeGetRelativeLocaleUrl("/")}
          aria-label="Astroverse">{brandName} &copy; {today.getFullYear()}</a
        >
        <br>
        <a class="flex-none text-sm text-neutral-600 dark:text-neutral-400" href="http://beian.miit.gov.cn" target="_blank" rel="noopener noreferrer">
         新ICP备2024013818号
        </a>
        <br>
        <img class="inline size-4" src={ beian.src } alt="备案图标">
        <a class="flex-none text-sm text-neutral-600 dark:text-neutral-400" href="https://beian.mps.gov.cn/#/query/webSearch?code=44030002004699" rel="noopener noreferrer" target="_blank">
          粤公网安备44030002004699
        </a>
        <br>
      </div> 
      <div class="flex items-center justify-between gap-x-3">
        <div class="ms-4 space-x-4 text-sm">
          <a
            class="inline-block text-neutral-500 hover:text-neutral-800 dark:text-neutral-500 dark:hover:text-neutral-200"
            href={safeGetRelativeLocaleUrl("rss.xml")}
            aria-label="RSS"
          >
            <Icon name="tabler:rss" class="mt-1 h-auto w-5" />
          </a>
        </div>
        <FooterLanguageSwitcher />
      </div>
    </div>
  </div>
</footer>
